@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-xl-6 col-sm-12 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <img src="~/img/svg/home.svg" width="150" alt="Alternate Text" />
                    </div>
                    <div class="col-8">
                        <i>Bienvenido Sr @ViewBag.UserFullName</i>
                        <hr />
                        <p>Aqui tiene algunas estadisticas que le pueden interesar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (User.IsInRole(nameof(RolsAuthorization.Admin)))
    {


        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1>@Model.Clients</h1>
                    <h3>Clientes</h3>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1>5</h1>
                    <h3>Roles</h3>
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole(nameof(RolsAuthorization.HILoans)) || User.IsInRole(nameof(RolsAuthorization.ClientsUser)))
    {


        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1>@Model.Clients</h1>
                    <h3>Clientes</h3>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1>@Model.Enterprices</h1>
                    <h3>Empresa</h3>
                </div>
            </div>
        </div>

        if (User.IsInRole(nameof(RolsAuthorization.HILoans)))
        {

            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h1>@StringHelper.FormatMoney(Model.TotalOfLoansDebs)</h1>
                        <h3>Prestado</h3>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h1>@Model.TotalOfLoans</h1>
                        <h3>Prestamos</h3>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h1>@Model.AverageRate%</h1>
                        <h3>Tasa Promedio</h3>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="decimal">@Model.InterestTotal%</h1>
                        <h3>Interes total</h3>
                    </div>
                </div>
            </div>
        }


        if (User.IsInRole(nameof(RolsAuthorization.ClientsUser)))
        {
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h1>@Model.TotalOfDebs</h1>
                        <h3>Deudas</h3>
                    </div>
                </div>
            </div>
        }
    }

    @if (User.IsInRole(nameof(RolsAuthorization.Client)))
    {
        <div class="col">
            <div class="container">
                <img src="~/img/svg/account.png" width="500" class="text-center img-fluid mx-auto d-block" style="align-items:center;align-items:center" />
                <h5 class="text-center">
                    Bienvenido, @User.Identity?.Name si quieres ver tu cuenta pulsa el siguiente botón <br />
                    <a class="btn btn-primary btn-lg mt-3" asp-controller="ClientUser" asp-action="GetMyClientAccount" asp-route-userName="@User.Identity.Name">Cuenta</a>
                </h5>
            </div>
        </div>
    }


    @if (User.IsInRole(nameof(RolsAuthorization.HiInventory)))
    {

        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1>@Model.Articles</h1>
                    <h3>Articulos</h3>
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole(nameof(RolsAuthorization.HILoans)))
    {
        <div class="col-12">
            <script>
                fetch('/Loan/OverdueInstallments').then(response => response.text()).then((result) => {
                    $('#pendingPay').empty();
                    $('#pendingPay').append(result);
                    $('#loadingInfo').hide()
                });
            </script>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-header text-white bg-danger">
                            Clientes Atrasados  <br /> <i id="loadingInfo">Espere un momento estamos cargando información...</i>
                        </div>
                        <div id="pendingPay">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body text-center">
                            <canvas id="chartv1" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/vendor/chart.js/Chart.js" asp-append-version="true"></script>
<script src="~/js/Home/index.js" asp-append-version="true"></script>
