@model IEnumerable<Deb>

<div class="col-12">
    <div class="table-responsive">
        <table class="table table-bordered mt-4" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Cuota</th>
                    <th>Fecha</th>
                    <th>Interés</th>
                    <th>Abono Capital</th>
                    <th>Total a Pagar</th>
                    <th>Capital Restante</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal interest = 0;
                    decimal amortitation = 0;
                    decimal toPay = 0;
                    decimal amount = 0;
                }
                @foreach (var item in Model)
                {
                    var bgClass = item.State == State.Payment ? "bg-success text-white" : "";
                    var bgBtn = item.State == State.Payment ? "btn-danger" : "btn-dark";
                    var btnText = item.State == State.Payment ? "Cancelar pago" : "Pagar";

                    interest += item.Interest;
                    amortitation += (decimal)item.Amortitation;
                    toPay += (decimal)item.ToPay;
                    amount = (decimal)item.Amount - amount;

                    <tr class="@bgClass">
                        <td>@item.Share</td>
                        <td>@item.DateOfPayment.ToString("dd/MM/yyyy")</td>
                        <td><i class="fa fa-dollar-sign"></i> @Math.Round(item.Interest,2)</td>
                        <td><i class="fa fa-dollar-sign"></i> @Math.Round(item.Amortitation, 2)</td>
                        <td><i class="fa fa-dollar-sign"></i> @Math.Round(item.ToPay, 2)</td>
                        <td><i class="fa fa-dollar-sign"></i> @Math.Round(item.Amount, 2)</td>
                    </tr>
                }
                <tr class="bg-info text-white">
                    <td>#</td>
                    <td>Totales</td>
                    <td><i class="fa fa-dollar-sign"></i>@Math.Round(interest,2)</td>
                    <td><i class="fa fa-dollar-sign"></i>@Math.Round(amortitation, 2)</td>
                    <td><i class="fa fa-dollar-sign"></i>@Math.Round(toPay, 2)</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>