@model IEnumerable<Models.ViewModels.HiLoans.Loans.PendingClientVM>
@inject IOptions<Models.Settings.DefaultValue> options



<ul class="list-group list-group-flush pendingToPay">
    @if (!Model.Any())
    {
        <li class="list-group-item">
            <span>No tiene clientes atrasados</span>
        </li>
    }
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a asp-action="GetById" asp-route-Id="@item.LoanId">
                <span>

                    <img style="border-radius:20px;margin-right:10px;" src="@options.Value.Avatar@item.Name+@item.LastName" alt="@item.UserName .png" width="40" class="text-center">
                    @item.FullName - @item.UserName <br />
                    <i class="text-dark mt-2" style="font-size:12px;">Capital actual :</i> <span class="badge-warning badge">@item.AmountLoan</span> -
                    <i class="text-dark" style="font-size:12px;">Cuotas atrasadas</i> :  <span class="badge-warning badge">@item.TotalRate</span>
                </span><br />
            </a>
        </li>
    }
</ul>

