@model IEnumerable<Models.Models.HiAccounting.Loan>
<h1><i class="fa fa-hand-holding-usd"></i> Prestamos</h1>
<a asp-action="Create" class="btn btn-primary btn-sm">Nuevo</a>
<hr />

<div class="row">
    <div class="col-12">
        <div class="col-md-6 col-12 mb-3">
            <label class="col-form-label">Empresas</label>
            <form class="form-group form-inline" asp-action="Index" method="get">
                <div class="form-group">
                    <select class="form-control m-1" name="idEnterprise" asp-items="ViewBag.Enterprises">
                        <option value="" selected>Todas las empresas</option>
                    </select>
                    <button class="btn btn-primary m-1"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered data-table" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Empresa</th>
                        <th>Tasa de interes %</th>
                        <th>Capital Inicial</th>
                        <th>Tipo de amortización</th>
                        <th>Modalidad de pago</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ClientUser.User.FullName</td>
                            <td>@item.ClientUser.Enterprise.Name</td>
                            <td>@item.Interest%</td>
                            <td>@item.InitialCapital</td>
                            <td>@item.AmortitationType.GetDisplayName()</td>
                            <td>@item.PaymentModality.GetDisplayName()</td>
                            <td>
                                <div>
                                    <a asp-action="GetById" asp-route-id="@item.Id" class="btn acent-background"><i class="far fa-eye text-white"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<partial name="_NotificationPartial" />