@model IEnumerable<Models.Models.Shared.Alert>

@{
    ViewData["Title"] = "MyAlerts";
}

<div class="row justify-content-center">
    <div class="col-12">
        <h1><i class="fa fa-bell"></i> Mis Alertas</h1>
        <a class="mb-2 btn btn-primary btn-sm" asp-action="MaskAsRead">Marcar como leidas</a>
        <div class="list-group">
            @foreach (var item in Model)
            {
                var state = item.State == State.Active ? "active" : "";
                var statestr = item.State == State.Active ? "Sin leer" : "Leida";


                <a href="#" class="list-group-item list-group-item-action  mb-3 flex-column align-items-start @state">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@item.Title</h5>
                        <small>fecha : @item.CreatedAtStr</small>
                    </div>
                    <p class="mb-1">@item.Text</p>
                    <small class="">@statestr</small>
                </a>
            }
        </div>
    </div>
</div>
