@model IEnumerable<Models.Models.Shared.Alert>

@{
    ViewData["Title"] = "MyAlerts";
}

<div class="card">
    <div class="card-body">
        <h1><i class="fa fa-bell"></i> Mis Alertas</h1>
    </div>
</div>

<hr />
<div class="row justify-content-center">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                @if (Model.Any())
                {
                    <a class="mb-2 btn btn-red text-white btn-sm" asp-action="MaskAsRead">Marcar como leidas</a>
                }
                else
                {
                    <h1 class=" text-center ct-color-primary"><i class="fa fa-smile-beam "></i></h1>
                    <h1 class="text-center mt-2" style="color:gray">No tienes alertas</h1>
                }
                <div class="list-group">
                    @foreach (var item in Model)
                    {
                        var state = item.State == State.Active ? "ct-bg-secundary" : string.Empty;
                        var statestr = item.State == State.Active ? "Sin leer" : "Leida";
                        var reading = item.State == State.Active ? "text-white " : string.Empty;

                        <a href="#" class="list-group-item list-group-item-action  mb-3 flex-column align-items-start @reading @state">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@item.Title</h5>
                                <small>fecha : @item.CreatedAtStr</small>
                            </div>
                            <p class="mb-1">@item.Text</p>
                            <small class="">@statestr</small>
                        </a>
                    }
                </div>
            </div>
        </div>


    </div>
</div>
